<div class="container">
    <mat-toolbar>
        <span>Usuarios</span>
    </mat-toolbar>
  <br>
    <form class="example-form">
      <mat-card class="tarjeta"> 
        Tarjeta simple <br>
        <mat-form-field appearance="fill">
          <a>Nomb. PublicaciÓn</a>
          <mat-label></mat-label>
          <input matInput>
        </mat-form-field>
          <br>

        <mat-form-field appearance="fill">
          <a>Contenido PublicaciÓn</a>
          <mat-label></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
            <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>PUBLICACION</mat-label>
          <input type="date" matInput placeholder="Ex. Pizza" value="fecha">
        </mat-form-field>
         <br>
        <mat-form-field appearance="fill">
          <a>Usuario creador</a>
          <mat-label></mat-label>
          <input matInput>
        </mat-form-field>
  
        <section class="example-section">
          <mat-checkbox class="example-margin"><a>Votar</a></mat-checkbox>
        </section>

        <button class="boton" mat-button color="secondary">Enviar</button>
      </mat-card>
      
      
    
    </form>
</div>
